body { margin: 0; padding: 0; zoom: 1; }
h1, h2, p { margin: 0; padding: 0; }

.avatar img { width: 30px; height: 30px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.caption { margin: 0 0 60px 20px; }
.caption a { font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif; letter-spacing: .1em; color: #999; text-transform: uppercase; text-decoration: none; }
.caption a:hover { background-color: #ddd; }

.container { width: 960px; margin: 0 auto; }
 
.section-intro h1 { font: 75px/68px 'Abril Fatface', Georgia, serif; text-transform: uppercase; color: #693; margin: 200px 0 90px 0; text-align: center; }
.section-intro .small { font: 30px/32px 'Playfair Display', Georgia, serif; letter-spacing: .06em; margin-left: 30px; display: block; }
.section-intro h1 em { display: block; font-style: normal; }
.section-intro h1 i { text-transform: lowercase; letter-spacing: 0; color: #7a6; }
.section-intro .divider { width: 30px; padding: 30px 0 0 0; border-top: 1px solid #999; margin: 30px auto 0 auto; }
.section-intro p { color: #999; font: 15px/20px 'Alegreya', Georgia, serif; margin: 0 auto 14px auto; max-width: 460px; }
.section-intro .caption { margin-top: 180px; }
.section-intro a { color: #000; text-decoration: none; }
.section-intro a:hover { background-color: #ddd; }

.section-forest { background: url(../images/forest.jpg) no-repeat; background-size: cover; padding: 90px 0 100px;}
.section-forest h2 { font: 70px/68px 'Playfair Display', Georgia, serif; color: #fff; text-transform: uppercase; margin: 0 0 60px 20px; }
.section-forest p { font: 16px/30px 'Fauna One', Georgia, serif; max-width: 540px; color: #fff; margin: 0 0 12px 20px; }
.section-forest .avatar img { margin: 0 0 10px 20px; }
.section-forest .caption { margin: 0 0 40px 20px; color: #eee; }
.section-forest .caption a { color: #eee; }
.section-forest .caption a:hover { background-color: #0cf; }

.section-architecture { background: #ddd9d1 url(../images/architecture.png) no-repeat center; background-size: cover; height: 600px; }
.section-architecture h2 { font: 80px/66px 'Fugaz One', serif; text-transform: uppercase; color: #817a74; margin: 0 0 30px 20px; opacity: .6; }
.section-architecture h2 i { font-family:'Oleo Script', serif; font-style: normal;}
.section-architecture p { font: 17px/28px 'Monda', Arial, sans-serif; color: #817a74; width: 380px; margin-left: 250px; }
.section-architecture .caption { color: #999; float: left; width: 230px; margin: 4px 0 0 20px; }

.section-oak { padding: 30px 20px 200px 20px; }
.section-oak .container { text-align: center; }
.section-oak .caption { margin-bottom: 0; text-align: left; }
.section-oak h2 { font: 24px/24px 'Unica One', sans-serif; text-transform: uppercase; text-align: center; color: #c31; margin-bottom: 30px; }
.section-oak p { font: 16px/24px 'Vollkorn', serif; color: #333; width: 460px; text-align: justify; margin: 0 auto;}
.section-oak .oak-leaf { padding: 60px 40px; background: url(../images/leaf.svg) 0 0 no-repeat; display: block; }

.section-rivers {background: url(../images/indigo-sea.jpg) no-repeat center; background-size: cover; padding: 40px 20px 80px 20px; }
.section-rivers .container { width: 100%; min-height: 400px; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; }
.section-rivers h2 {font: 32px/42px 'Open Sans', sans-serif; font-weight: 800; text-transform: uppercase; color: #29232D;text-align: left; letter-spacing: 1px;padding: 20px 20px 0 20px;}
.section-rivers p {font: 18px/27px 'Gentium Basic', serif;color: #fff; text-align: left;padding: 20px 20px 0 20px; max-width: 500px;}
.section-rivers .caption { margin-bottom:5px; text-align: left; color: #fff; }
.section-rivers .caption a {color: #fff;}
.section-rivers .avatar { margin-left: 20px; }

/* Number of columns: 8 */
/* Percentage width of a single column: 12.5% */
/* Base unit of measurement: 20px */
.section-crow-pitcher {	background-color: rgba(241, 90, 36, 1); padding: calc(2 * 20px); }
.section-crow-pitcher h2 { color: white; font-family: 'Questrial', sans-serif; font-size: 14px; letter-spacing: 6px; line-height: 1.8em; margin-bottom: calc(4 * 20px); margin-top: calc(2 * 20px); text-align: center; text-transform: uppercase; }
.section-crow-pitcher h2 span {	display: inline-block; outline: 1px solid white; padding: 1em; }
.section-crow-pitcher .container {	width: 100%; }
.section-crow-pitcher .container p { font-family: 'Old Standard TT', serif; font-size: 24px; margin-bottom: calc(4 * 20px); }
.section-crow-pitcher .container p.drop-p { }
.section-crow-pitcher em { color: white; display: block; font-family: 'Old Standard TT', serif; font-size: 24px; text-align: center; margin-bottom: calc(4 * 20px); }
.section-crow-pitcher ul { font-family: 'Old Standard TT', serif; font-size: 14px; list-style-type: none; margin-bottom: calc(2 * 20px); padding: 0; text-align: center; }
.section-crow-pitcher li { line-height: 2.2em; }
.section-crow-pitcher li.label { font-family: 'Questrial', sans-serif; letter-spacing: 6px; text-transform: uppercase; }
.section-crow-pitcher hr { width: 5%; border: 1px solid black; margin-bottom: calc(2 * 20px); }
.section-crow-pitcher a { color: black;	text-decoration: none; }
.section-crow-pitcher a:hover {	border-bottom: 1px solid black; }

/* Styles for Astronomer */
@-webkit-keyframes rotate { 
  from { -webkit-transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);  }
}
.section-astronomer { background: #38202e url(../images/space.png) no-repeat; background-size: cover; padding: 90px 0 100px; overflow: hidden; }
.section-astronomer .container { position: relative; }
.section-astronomer .stars { position: absolute; left: -50%; background: url(../images/stars.png); display: block; width: 1500px; height: 800px; top:0;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         40s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    z-index: 100;
}
.section-astronomer h2 { font: 50px/50px 'Megrim', Georgia, serif; color: #fff; text-transform: uppercase; margin: 0 auto 40px auto; text-align: center; border-bottom: solid 1px rgba(255, 255, 255, .5); padding-bottom: 40px; width: 80%;}
.section-astronomer p { font: 12px/30px 'Roboto Slab', Georgia, serif; width: 80%; color: #fff; margin: 0 auto 12px auto; border-bottom: solid 1px rgba(255, 255, 255, .5); padding-bottom: 30px; 
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    letter-spacing: 0.03em;
    }
.section-astronomer .avatar img { margin: 0 0 10px 20px; position: relative; z-index: 101;}
.section-astronomer .caption { margin: 0 0 40px 20px; color: #eee; position: relative; z-index: 102;}
.section-astronomer .caption a { color: #eee; }
.section-astronomer .caption a:hover { background-color: #e45546; }


/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */


/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-oak .container { width: 100%; }
	.section-oak p { max-width: 460px; width: auto; padding: 0 20px; }

	.section-forest .container { width: 100%; }
	.section-forest h2 { font: 60px/60px 'Playfair Display', Georgia, serif; }
	.section-forest p { padding-right: 20px; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.section-crow-pitcher { padding: calc(4 * 20px); }
	.section-crow-pitcher h2 { margin-bottom: calc(8 * 20px); margin-top: calc(4 * 20px); }
	.section-crow-pitcher .container p { font-size: 48px; }
	.section-crow-pitcher .container .drop-p { color: white; font-size: 18px; float: left; line-height: 1.4em; margin-bottom: 0; margin-right: calc(3 * 20px); margin-top: calc(1 * 20px); width: 33.3%; }
	.section-crow-pitcher em { font-size: 18px; margin-bottom: calc(8 * 20px); }
	.section-crow-pitcher hr { width: 2.5%;	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.section-crow-pitcher .container p { font-size: 104px; }
	.section-crow-pitcher .container .drop-p { font-size: 24px; line-height: 1.8em; margin-bottom: 0; margin-top: calc(1 * 20px); margin-right: calc(4 * 20px); }
	.section-crow-pitcher em { font-size: 24px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.section-crow-pitcher {	padding: calc(6 * 20px);	}
	.section-crow-pitcher h2 { margin-bottom: calc(12 * 20px);	margin-top: calc(6 * 20px);	}
	.section-crow-pitcher .container p { font-size: 124px; margin-bottom: calc(12 * 20px);	}
	.section-crow-pitcher .container .drop-p { font-size: 36px; line-height: 1.8em;	}
	.section-crow-pitcher em { font-size: 36px; margin-bottom: calc(12 * 20px); }
}

/* Large devices (extra large desktops, 1440px and up) */
@media (min-width: 1440px) {
	.section-crow-pitcher .container p { font-size: 150px;	}
}

