body { margin: 0; padding: 0; zoom: 1; }
h1, h2, p { margin: 0; padding: 0; }

.avatar img { width: 30px; height: 30px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.caption { margin: 0 0 60px 20px; }
.caption a { font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif; letter-spacing: .1em; color: #999; text-transform: uppercase; text-decoration: none; }
.caption a:hover { background-color: #ddd; }

.container { width: 960px; margin: 0 auto; }

.section-intro h1 { font: 75px/68px 'Abril Fatface', Georgia, serif; text-transform: uppercase; color: #693; margin: 200px 0 90px 0; text-align: center; }
.section-intro .small { font: 30px/32px 'Playfair Display', Georgia, serif; letter-spacing: .06em; margin-left: 30px; display: block; }
.section-intro h1 em { display: block; font-style: normal; }
.section-intro h1 i { text-transform: lowercase; letter-spacing: 0; color: #7a6; }
.section-intro .divider { width: 30px; padding: 30px 0 0 0; border-top: 1px solid #999; margin: 30px auto 0 auto; }
.section-intro p { color: #999; font: 15px/20px 'Alegreya', Georgia, serif; margin: 0 auto 14px auto; max-width: 460px; }
.section-intro .caption { margin-top: 180px; }
.section-intro a { color: #000; text-decoration: none; }
.section-intro a:hover { background-color: #ddd; }

.section-gnat-bull { background: url(../images/forest.jpg) no-repeat; background-size: cover; padding: 90px 0 100px;}
.section-gnat-bull h2 { font: 70px/68px 'Playfair Display', Georgia, serif; color: #fff; text-transform: uppercase; margin: 0 0 60px 20px; }
.section-gnat-bull p { font: 16px/30px 'Fauna One', Georgia, serif; max-width: 540px; color: #fff; margin: 0 0 12px 20px; }
.section-gnat-bull .avatar img { margin: 0 0 10px 20px; }
.section-gnat-bull .caption { margin: 0 0 40px 20px; color: #eee; }
.section-gnat-bull .caption a { color: #eee; }
.section-gnat-bull .caption a:hover { background-color: #0cf; }

.section-two-bags { background: #ddd9d1 url(../images/architecture.png) no-repeat center; background-size: cover; height: 600px; }
.section-two-bags h2 { font: 80px/66px 'Fugaz One', serif; text-transform: uppercase; color: #817a74; margin: 0 0 30px 20px; opacity: .6; }
.section-two-bags h2 i { font-family:'Oleo Script', serif; font-style: normal;}
.section-two-bags p { font: 17px/28px 'Monda', Arial, sans-serif; color: #817a74; width: 380px; margin-left: 250px; }
.section-two-bags .caption { color: #999; float: left; width: 200px; margin: 4px 0 20px 20px; }

.section-oak { padding: 30px 20px 200px 20px; }
.section-oak .container { text-align: center; }
.section-oak .caption { margin-bottom: 0; text-align: left; }
.section-oak h2 { font: 24px/24px 'Unica One', sans-serif; text-transform: uppercase; text-align: center; color: #c31; margin: 20px 20px 30px; }
.section-oak p { font: 16px/24px 'Vollkorn', serif; color: #333; width: 460px; text-align: justify; margin: 0 auto;}
.section-oak .oak-leaf { margin-top: 60px; }

.section-rivers {background: url(../images/indigo-sea.jpg) no-repeat center; background-size: cover; padding: 40px 20px 80px 20px; }
.section-rivers .container { width: 100%; min-height: 400px; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; }
.section-rivers h2 {font: 32px/42px 'Open Sans', sans-serif; font-weight: 800; text-transform: uppercase; color: #29232D;text-align: left; letter-spacing: 1px;padding: 20px 20px 0 20px;}
.section-rivers p {font: 18px/27px 'Gentium Basic', serif;color: #fff; text-align: left;padding: 20px 20px 0 20px; max-width: 500px;}
.section-rivers .caption { margin-bottom:5px; text-align: left; color: #fff; }
.section-rivers .caption a {color: #fff;}
.section-rivers .avatar { margin-left: 20px; }

.section-moon-mother {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height:500px;
    padding:50px;
    position:relative;
    background:url(../images/broken_noise.png);
}

.section-moon-mother * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.section-moon-mother svg {
    position:absolute;
    bottom:60px;
}

.section-moon-mother svg:nth-of-type(2) {
    left:136px;
}

.section-moon-mother svg:nth-of-type(3) {
    left:212px;
}

.section-moon-mother svg:nth-of-type(4) {
    left:288px;
}

.section-moon-mother svg:nth-of-type(5) {
    left:385px;
}

.section-moon-mother div {
    width:451px;
    float:right;
}

.section-moon-mother div.clear, .section-moon-mother div.caption {
    width:auto;
    float:none;
    margin:0;
    color:#ccc;
}

.section-moon-mother div.caption a {
    color:#ccc;
    text-shadow:2px 2px 2px #333;
}

.section-moon-mother div.caption a:hover {
    color:#333;
    text-shadow:none;
}

.section-moon-mother div h1, .section-moon-mother div p {
    text-transform:lowercase;
    font-weight:300;
}

.section-moon-mother div h1 {
    color:white;
    font-size:2.5em;
    font-family: 'Jura', sans-serif;
    text-shadow:2px 2px 2px #444;
}

.section-moon-mother div p {
    color:#ccc;
    font-size:1.5em;
    line-height:1.25em;
    font-family: 'Lato', sans-serif;
    margin-top:1em;
    text-align:justify;
    text-shadow:2px 2px 2px #333;
}

/* Number of columns: 8 */
/* Percentage width of a single column: 12.5% */
/* Base unit of measurement: 20px */
.section-crow-pitcher {	background-color: rgba(241, 90, 36, 1); padding: calc(2 * 20px); }
.section-crow-pitcher h2 { color: white; font-family: 'Questrial', sans-serif; font-size: 14px; letter-spacing: 6px; line-height: 1.8em; margin-bottom: calc(4 * 20px); margin-top: calc(2 * 20px); text-align: center; text-transform: uppercase; }
.section-crow-pitcher h2 span {	display: inline-block; outline: 1px solid white; padding: 1em; }
.section-crow-pitcher .container {	width: 100%; }
.section-crow-pitcher .container p { font-family: 'Old Standard TT', serif; font-size: 24px; margin-bottom: calc(4 * 20px); }
.section-crow-pitcher .container p.drop-p { }
.section-crow-pitcher em { color: white; display: block; font-family: 'Old Standard TT', serif; font-size: 24px; text-align: center; margin-bottom: calc(4 * 20px); }
.section-crow-pitcher ul { font-family: 'Old Standard TT', serif; font-size: 14px; list-style-type: none; margin-bottom: calc(2 * 20px); padding: 0; text-align: center; }
.section-crow-pitcher li { line-height: 2.2em; }
.section-crow-pitcher li.label { font-family: 'Questrial', sans-serif; letter-spacing: 6px; text-transform: uppercase; }
.section-crow-pitcher hr { width: 5%; border: 1px solid black; margin-bottom: calc(2 * 20px); }
.section-crow-pitcher a { color: black;	text-decoration: none; }
.section-crow-pitcher a:hover {	border-bottom: 1px solid black; }

/* Styles for Astronomer */

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);  }
}
.section-astronomer { background: #38202e url(../images/space.png) no-repeat; background-size: cover; padding: 90px 0 100px; overflow: hidden; }
.section-astronomer .container { position: relative; }
.section-astronomer .stars { position: absolute; left: -50%; background: url(../images/stars.png); display: block; width: 1500px; height: 800px; top:0;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         40s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    z-index: 100;
}
.section-astronomer h2 { font: 50px/50px 'Megrim', Georgia, serif; color: #fff; text-transform: uppercase; margin: 0 auto 40px auto; text-align: center; border-bottom: solid 1px rgba(255, 255, 255, .5); padding-bottom: 40px; width: 80%;}
.section-astronomer p { font: 12px/30px 'Roboto Slab', Georgia, serif; width: 80%; color: #fff; margin: 0 auto 12px auto; border-bottom: solid 1px rgba(255, 255, 255, .5); padding-bottom: 30px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    letter-spacing: 0.03em;
    }
.section-astronomer .avatar img { margin: 0 0 10px 20px; position: relative; z-index: 101;}
.section-astronomer .caption { margin: 0 0 40px 20px; color: #eee; position: relative; z-index: 102;}
.section-astronomer .caption a { color: #eee; }
.section-astronomer .caption a:hover { background-color: #e45546; }

/* Styles for The Fox and the Grapes */

.section-the-fox-and-the-grapes {
	background: #2E334A;
	cursor: url('../images/the-fox-and-the-grapes/fox.png'), auto; /*ie*/
	cursor: -webkit-image-set(
	  url('../images/the-fox-and-the-grapes/fox.png') 1x,
	  url('../images/the-fox-and-the-grapes/fox@2x.png') 2x
	), auto;
	padding: 40px 0 310px 0;
	position: relative;
}

.section-the-fox-and-the-grapes .avatar img { margin: 0 0 10px 20px; }
.section-the-fox-and-the-grapes .caption { color: #CBCCD1; margin: 0 0 190px 20px;  }
.section-the-fox-and-the-grapes .caption a { color: #CBCCD1; }
.section-the-fox-and-the-grapes .caption a:hover,
.section-the-fox-and-the-grapes .caption a:active { color: #2E334A; background: #CBCCD1; }
.section-the-fox-and-the-grapes h2,
.section-the-fox-and-the-grapes p { margin: 0 auto; width: 420px; }
.section-the-fox-and-the-grapes h2 { color: #8EC9D2; font: 36px 'Ovo', serif; text-align: center; margin-bottom: 16px; }
.section-the-fox-and-the-grapes p { color: #B7B8BF; font: 15px/21px 'Muli', sans-serif; font-weight: 300; text-align: justify;	 }

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(0, 0) rotate(0); }
	1% { -webkit-transform: translate(-1px, -2px) rotate(-10deg); }
	2% { -webkit-transform: translate(-3px, 0) rotate(30deg); }
	3% { -webkit-transform: translate(0px, 2px) rotate(0); }
	4% { -webkit-transform: translate(1px, -1px) rotate(30deg); }
	5% { -webkit-transform: translate(-1px, 2px) rotate(-10deg); }
	6% { -webkit-transform: translate(-3px, 1px) rotate(0); }
	7% { -webkit-transform: translate(2px, 1px) rotate(-10deg); }
	8% { -webkit-transform: translate(-1px, -1px) rotate(10deg); }
	9% { -webkit-transform: translate(2px, 2px) rotate(0); }
	10% { -webkit-transform: translate(0, 0) rotate(0); }
	100% { -webkit-transform: translate(0, 0) rotate(0); }
}

.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.section-the-fox-and-the-grapes .grapes {
	background: url('../images/the-fox-and-the-grapes/grapes.png') no-repeat center;
	bottom: 216px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	transition: all 0.2s cubic-bezier(0, 0.65, 0.03, 1.2);
	width: 100px;
	-moz-transition: all 0.2s cubic-bezier(0, 0.65, 0.03, 1.2);
	-o-transition: all 0.2s cubic-bezier(0, 0.65, 0.03, 1.2);
}

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */


/* Sub-tablet <768px */
@media (max-width: 768px) {
	.section-intro { width: 100%; }
	.section-intro .small { margin: 0 20px; }
	.section-intro p { max-width: 460px; width: auto; padding: 0 20px; }

	.section-two-bags .container { width: 100%;}
	.section-two-bags h2 { font-size: 64px; line-height: 52px; margin-bottom: 6px; opacity: 1;}
	.section-two-bags p { max-width: 380px; width: auto; margin-left: 0; padding: 0 20px; float: left; font: 14px/24px 'Monda', Arial, sans-serif; }
	.section-two-bags .caption { width: auto; margin-top: 6px; opacity: .7; }

	.section-oak .container { width: 100%; }
	.section-oak p { max-width: 460px; width: auto; padding: 0 20px; }

	.section-gnat-bull .container { width: 100%; }
	.section-gnat-bull h2 { font: 60px/60px 'Playfair Display', Georgia, serif; }
	.section-gnat-bull p { padding-right: 20px; }

	.section-astronomer .container { width: auto; }
	.section-astronomer h2 { font-size: 46px; }
	.section-astronomer p { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }

	.section-the-fox-and-the-grapes .container { width: 100%;  }
	.section-the-fox-and-the-grapes h2,	.section-the-fox-and-the-grapes p { width: auto; max-width: 420px; padding: 0 20px; }

    .section-moon-mother {
        height:auto;
    }

    .section-moon-mother div {
        margin:45px 0;
        width:100%;
        float:none;
    }

    .section-moon-mother svg {
        width:18%;
        position:initial;
    }
}

/* Small devices (tablets, > 768px) */
@media (min-width: 769px) {

	.section-crow-pitcher { padding: calc(4 * 20px); }
	.section-crow-pitcher h2 { margin-bottom: calc(8 * 20px); margin-top: calc(4 * 20px); }
	.section-crow-pitcher .container p { font-size: 48px; }
	.section-crow-pitcher .container .drop-p { color: white; font-size: 18px; float: left; line-height: 1.4em; margin-bottom: 0; margin-right: calc(3 * 20px); margin-top: calc(1 * 20px); width: 33.3%; }
	.section-crow-pitcher em { font-size: 18px; margin-bottom: calc(8 * 20px); }
	.section-crow-pitcher hr { width: 2.5%;	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.section-crow-pitcher .container p { font-size: 104px; }
	.section-crow-pitcher .container .drop-p { font-size: 24px; line-height: 1.8em; margin-bottom: 0; margin-top: calc(1 * 20px); margin-right: calc(4 * 20px); }
	.section-crow-pitcher em { font-size: 24px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.section-crow-pitcher {	padding: calc(6 * 20px);	}
	.section-crow-pitcher h2 { margin-bottom: calc(12 * 20px);	margin-top: calc(6 * 20px);	}
	.section-crow-pitcher .container p { font-size: 124px; margin-bottom: calc(12 * 20px);	}
	.section-crow-pitcher .container .drop-p { font-size: 36px; line-height: 1.8em;	}
	.section-crow-pitcher em { font-size: 36px; margin-bottom: calc(12 * 20px); }
}

/* Large devices (extra large desktops, 1440px and up) */
@media (min-width: 1440px) {
	.section-crow-pitcher .container p { font-size: 150px;	}
}
